body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Estilos NAVBAR */

.navegador {
  height: auto;
  background-color: transparent !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  text-transform: uppercase;
}
.navegador ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 2rem;
}

.navegador ul a {
  height: auto;
  display: block;
  padding: 5px 5px;
  color: white;
  text-decoration: none;
  transition: ease-in 0.5s;
  font-size: 3rem;
  font-weight: bold;
}
.navegador ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.navegador ul li a:hover {
  color: #e9c9c9;
  border-bottom: 2px ridge black;
}

.navegador ul ul {
  display: none;
  position: absolute;
  /* top: 100%; */
  /* left: 0;
  padding: 0; */
}

.navegador ul ul li {
  position: relative;
  float: none;
  /* width: 150px; */
}

.navegador ul ul a {
  line-height: 120%;
  padding: 10px 15px;
  font-size: 20px;
  color: black;
}

.navegador ul li:hover > ul {
  display: block;
  position: relative;
}

.listContainer {
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.card {
  width: 200px !important;
  height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}

.cajaInfoCard {
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.imagenes {
  width: 70px !important;
  height: 100px !important;
}

.cajaDetalle {
  margin-top: 100px;
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.itemDetalle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.detalle {
  padding: 30px;
  margin: 10px;
}
.detalleProducto{
  background-color: white;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagenDetail{
  width: 200px;
  height: 300px;
}

.detalleCompra {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contador {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contador div {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 5px;
  padding: 3px;
  width: auto;
  align-self: center;
  border-bottom: 1.5px black solid;
}

.btnCompra{
  display: flex;
  flex-direction: row;
  gap: 5px;
}
